.navbar.navbar-inverse.navbar-fixed-bottom
   .container
      h6.navbar-text.navbar-left Designed For Ideas And Tips
      h6.navbar-text.navbar-right Copyright©2017
            a.navbar-link(href="/") StarAI
