//Created by Acery on 2017/10/29.

doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title hello
		link(rel='stylesheet',href='/css/main.css')
		style.
			.cont{
				margin-top: 6rem;
			}
	body
		include components/header

		.container.cont
			include components/message
			block content

		include components/footer



	script(src='/js/lib/jquery-3.1.1.min.js')
	script(src='/js/lib/bootstrap.min.js')