extends home


block content
	h1.text-center StarAI
	if messages.errors
		h1 #{messages.errors[0].msg}
	form.form-horizontal(method="post",action='/login')
		.form-group
			label.control-label.col-lg-3(for="username") 用户名
			.col-lg-7
				input.form-control(type='text',name="username",id="username",placeholder="username",autofocus,required)
		.form-group
			label.control-label.col-lg-3(for="password") 密码
			.col-lg-7
				input.form-control(type="password",name="password",id="password",placeholder="Password",required=)
		.form-group
			.col-lg-7.col-lg-offset-4.col-sm-offset-3
				button.btn.btn-primary.center-block(type='submit').col-lg-7.col-sm-7
					i.icon-circle-arrow-right
					| login

				br
				u.col-xs-12.text-center
					a(href="/register") 没有账户？

