extends home

block content
	.container
		.jumbotron
			h1 拼车平台WebApp
			p 基于新一代浏览器的WebApp，结合微信客户端进行开发，兼容各大主流操作系统，需要流畅的运行速度以及良好的用户体验，开发周期预计两个月，开发奖励NVIDIA1080TI *4
			br
			h3 前端开发进度
			.progress
				.progress-bar(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;")
			h3 后端开发进度
			.progress
				.progress-bar.progress-bar-info(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;")
			h3 产品进度
			.progress
				.progress-bar.progress-bar-success(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;")
			h3 项目总进度
			.progress
				.progress-bar.progress-bar-warning(role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;")