extends home

block content
	.container
		.page-header
			<h1>技术部 <small>For Developing</small></h1>
		.row
			.col-lg-4
				.thumbnail
					.row
						.col-lg-6.col-lg-offset-3
							img(src="https://image.flaticon.com/icons/svg/236/236832.svg")
					h1.text-center Bob Smith
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-primary 前端工程师
							span.label.label-success 拼车平台webApp
					br
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-info 高效率
							span.label.label-warning 项目中
					blockquote.blockquote-reverse
						h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						footer Bob Smith
			.col-lg-4
				.thumbnail
					.row
						.col-lg-6.col-lg-offset-3
							img(src="https://image.flaticon.com/icons/svg/149/149072.svg")
					h1.text-center Bob Smith
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-primary 后端工程师
							span.label.label-success VR game
					br
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-info 细节
							span.label.label-warning 空闲
					blockquote.blockquote-reverse
						h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						footer Bob Smith
			.col-lg-4
				.thumbnail
					.row
						.col-lg-6.col-lg-offset-3
							img(src="https://image.flaticon.com/icons/svg/236/236831.svg")
					h1.text-center Bob Smith
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-primary 后端工程师
							span.label.label-success 无人机项目
					br
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-info 高效率
							span.label.label-warning 项目中
					blockquote.blockquote-reverse
						h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						footer Bob Smith

		.page-header
			<h1>产品部 <small>For Ideas</small></h1>
		.row
			.col-lg-4
				.thumbnail
					.row
						.col-lg-6.col-lg-offset-3
							img(src="https://image.flaticon.com/icons/svg/145/145852.svg")
					h1.text-center Bob Smith
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-primary 前端工程师
							span.label.label-success 拼车平台webApp
					br
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-info 高效率
							span.label.label-warning 项目中
					blockquote.blockquote-reverse
						h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						footer Bob Smith
			.col-lg-4
				.thumbnail
					.row
						.col-lg-6.col-lg-offset-3
							img(src="https://image.flaticon.com/icons/svg/149/149072.svg")
					h1.text-center Bob Smith
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-primary 后端工程师
							span.label.label-success VR game
					br
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-info 细节
							span.label.label-warning 空闲
					blockquote.blockquote-reverse
						h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						footer Bob Smith
			.col-lg-4
				.thumbnail
					.row
						.col-lg-6.col-lg-offset-3
							img(src="https://image.flaticon.com/icons/svg/189/189061.svg")
					h1.text-center Bob Smith
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-primary 后端工程师
							span.label.label-success 无人机项目
					br
					.row
						.col-lg-8.col-lg-offset-2
							span.label.label-info 高效率
							span.label.label-warning 项目中
					blockquote.blockquote-reverse
						h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
						footer Bob Smith
