extends home

block content
	.container
		.jumbotron
			h1 404 NOT FOUND
			p 这里应该出现了一些我们不期望看到的错误，请查看你浏览器输入框是否输入了正确的路径，如果检查无误，那就是我们的问题了，这里以后将给你呈现更多丰富精彩的内容
			p
				a(href="/homepage",role="button").btn-primary.btn-lg 回到首页